/* COLORS */
// neutral
$color-neutral-1: #fafafa;
$color-neutral-2: #f5f5f5;
$color-neutral-3: #d4d4d4;
$color-neutral-4: #949494;
$color-neutral-5: #4e4e4e;
$color-neutral-6: #1d1d1d;

// green
$color-green-1: #e9fef4;
$color-green-2: #b9f7da;
$color-green-3: #8ceac0;
$color-green-4: #64d5a1;

// yellow
$color-yellow-1: #fff6e3;
$color-yellow-2: #feecc5;
$color-yellow-3: #fee1a4;
$color-yellow-4: #d7b46b;
$color-yellow-5: #ae8a3e;

// red
$color-red-2: #fee1ea;
$color-red-3: #fda1bb;
$color-red-4: #fd739b;
$color-red-5: #fc497c;
$color-red-6: #fb215c;

// blue
$color-blue-2: #aedded;
$color-blue-3: #7bc1d8;
$color-blue-4: #54a6bf;
$color-blue-5: #358ba6;
$color-blue-6: #1d7896;

// aliases
$color-light: $color-neutral-1;
$color-dark: $color-neutral-6;

/* SPACING */
$space-1: 1rem;

/* SIZES */
// width
$width-tablet: 1024px;
$width-mobile: 640px;
$width-container: $width-tablet;
$width-sidebar: 240px;
$width-gallery: 480px;
$width-product-card: 172px;

// height
$height-navbar: 60px;
$height-footer: 60px;
$height-breadcrumb: 60px;
